* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
}



.mem {
  display: block;
  width: 70%;
  margin: 0 auto;
}

main {
  width: 70%;
  margin: 0 auto;
}

section {
  display: none;
}
input{
  width: 0;
}
label {
  display: flex;
  justify-content: space-between;
}

input:checked~section {
  display: block;
  animation: width 2s ;
}
.wrapper:hover section{
  display: block;
  animation: width 2s ;
}

main:hover .plus{
  height: 100%;
}

input:checked~label .plus {
  animation: rotation 2s;
  transform: rotate(20deg);
}
.wrapper{
  border-top: 1px black solid;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(20deg);
  }
}

@keyframes width {
  from {
    width: 0
  }

  to {
    width: 100%;
  }
}